APP_DOMAIN=103.77.242.126
APP_PUBLIC_URL=http://103.77.242.126
VITE_API_BASE_URL=http://103.77.242.126/api
FRONTEND_ROOT=/var/www/sprintflow

MSSQL_SA_PASSWORD=ChangeThisStrongPassword@2026
JWT_SECRET=ChangeThisJwtSecret.AtLeast.32.Characters.For.Production
JWT_ISSUER=SprintFlow
JWT_AUDIENCE=SprintFlow.Client

ASPNETCORE_ENVIRONMENT=Production
